* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.title {
  width: 100%;
  height: 100%;
  padding-inline-start: 30px;
  margin-top: 30px;
}

.wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 100px;
  padding-inline-end: 30px;
}

.txt-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background-color: #939393;
  color: white;
  padding-inline-end: 10px;
  justify-content: right;
  align-items: center;
  font-size: 40px;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(169, 167, 167, 0.995);
}

.input-area .row {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: 0.5px;
}

.input-area .row div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1px;
  background-color: lightgray;
  font-size: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.input-area .row div:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.input-area .row .btn-zero {
  width: 200%;
}

.input-area .row .orange {
  background-color: rgb(255, 128, 0);
}
