* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.txt-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  background-color: #444;
  color: white;
  padding-inline-end: 10px;
  justify-content: right;
  align-items: center;
  font-size: 40px;
}

.input-area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: gray;
}

.input-area .row {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 1px;
}

.input-area .row div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1px;
  background-color: lightgray;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.input-area .row .btn-zero {
  width: 200%;
}

.input-area .row .orange {
  background-color: rgb(255, 128, 0);
}
